
Report.toc
Report.synctex.gz
Report.pdf
Report.out
Report.log
Report.aux
body/Results.aux
body/Recommendations.aux
body/Methodology.aux
body/Literature.aux
body/Introduction.aux
body/Discussion.aux
body/Conclusions.aux
bibtex/References.aux
appendix/appendixb.aux
appendix/appendixa.aux
Report.lof
Report.bbl
Report.blg
body/Design.log
body/Design.aux
body/Experimentation.aux
figures/results/goertzel_filter_speed/n8u.JPG
figures/results/goertzel_filter_speed/n8.JPG
figures/results/goertzel_filter_speed/n4u.JPG
figures/results/goertzel_filter_speed/n4.JPG
figures/results/goertzel_filter_speed/64nu.JPG
figures/results/goertzel_filter_speed/64n.JPG
figures/results/goertzel_filter_speed/32nu.JPG
figures/results/goertzel_filter_speed/32n.JPG
figures/results/goertzel_filter_speed/16n.JPG
Report.synctex(busy)
Report.gdoc
